extends layout

block vars
	- var title = "Diskussion"

block content
	script(src='/javascripts/index.js')
	#favouriteImages
		each image in favouriteImages
			- var userName = image.userName
			- var imageNumber = image.imageNumber
			- var thumbUrl = image.thumbUrl
			include image

