extends layout

block vars
	- var title = "Favoritenbilder"

block content
	script(src='/javascripts/index.js')
	#favouriteImages
		each favouriteImage in favouriteImages
			div
				a(href='https://www.model-kartei.de/bilder/bild/'+favouriteImage.imageNumber)
					img(src='/image?url='+favouriteImage.thumbUrl,imagenumber=favouriteImage.imageNumber)
				p.likeInfo
				p !{favouriteImage.userName}
