extends layout

block vars
	- var title = "Jobs"


block content
	script(src='/javascripts/jobs.js')
	each job in jobs
		- var jobNumber = job.jobNumber
		- var payUser = job.payUser
		- var jobTitle = job.jobTitle
		- var jobUserName = job.userName
		-	var userSedcard = job.userSedcard
		include job

