extends layout

block vars
	- var title = sedcardType

block content
	script(src='/javascripts/sedcard.js')
	.sedcard
		h2 !{userName}
		a(href="https://www.model-kartei.de/sedcards/"+sedcardUrl) Sedcard auf Model-Kartei.de
		div.descriptionText !{descriptionText}
		each image in images
			- var imageNumber = image.imageNumber
			- var thumbUrl = image.thumbUrl
			include image

